<div class="container">
    <h2>Add Driver Information</h2>
  
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [(ngModel)]="driver.firstName">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" [(ngModel)]="driver.lastName">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input matInput type="date">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Street Address</mat-label>
      <input matInput type="text">
    </mat-form-field>
    
    <button mat-raised-button color="accent" (click)="addDriver()">Get Quote</button>
  </div>
  