<div class="container">
    <h2>Add a Vehicle</h2>
  
    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="vehicle.year">
        <mat-option value="2025">2025</mat-option>
        <mat-option value="2024">2024</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Make</mat-label>
      <mat-select [(ngModel)]="vehicle.make">
        <mat-option value="Acura">Acura</mat-option>
        <mat-option value="Honda">Honda</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Do you make payments on this vehicle?</p>
    <button mat-raised-button>Yes</button>
    <button mat-raised-button>No</button>

    <button mat-raised-button color="accent" (click)="addVehicle()">Next</button>
   
  </div>
  