<div class="container">
    <h2>Insurance Information</h2>
  
    <p>Do you currently have car insurance?</p>
    <button mat-raised-button color="primary">Yes</button>
    <button mat-raised-button color="warn">No</button>
  
    <p>How many vehicles?</p>
    <button mat-raised-button>1</button>
    <button mat-raised-button>2</button>
    <button mat-raised-button>3</button>
    <button mat-raised-button>4+</button>
  
    <button mat-raised-button color="accent" routerLink="/vehicle-form">Next</button>
  </div>
  